<?xml version="1.0" encoding="UTF-8"?>
<suite name="nopcommerce regression suite">
	<parameter name="browser" value="chrome"></parameter>
	<test name="regression test" preserve-order="false">
		<classes>
			<class name="tests.UserRegisterationTest" />
			<class name="tests.ContactUsTest" />
			<class name="tests.ProductHoverMenuTest" />
			<class name="tests.SearchProductTest" />
			<class name="tests.AddProductToShoppingCartTest" />
			<class name="tests.AddProductToWishListTest" />
			<class name="tests.ChangeCurrencyTest" />
			<class name="tests.AddProductToCompareTest" />
			<class name="tests.EmailFriendTest" />
			<class name="tests.AddProductReviewTest" />
			<class name="tests.MyAccountTest" />
			<class name="tests.RegisteredUserCheckoutProductTest" />
			<class name="tests.SearchProductUsingAutoSuggestTest" />
			<class name="tests.GuestCheckoutProductFromCartTest" />
		</classes>
	</test>
</suite> 
